html {
    background-color: rgb(50, 10, 126);
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

header {
    background-color: rgb(78, 109, 194);
}

nav {
    background-color: rgb(78, 66, 241);
}

main {
    background-color: rgb(37, 65, 143);
    font-size: 20px;
    color: beige;
}
footer {
    background-color: rgb(78, 66, 241);
    color: beige;
}

li {
    display: inline-block;
    width: 30%;
}

h1 {
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: beige;
}

a {
    color: beige;
}

p {
    line-height: 40px;
}